* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-height: 1310px;
    font-family: "Arial";
}

.wrapper {
    width: 1000px;
    height: 1310px;
    margin: 0 auto;
    background-color: mintcream;
    font-family: "Arial";
}
.topper {
    background-color: aquamarine;
    width: 909px;
    height: 52px;
    margin: 0 auto;
/*    overflow: auto;*/
}



.registration {
/*
    width: 298px;
    height 52px;
    background-color: mediumpurple;
    padding-top: 19px;
    float: left;
    display: block;
*/
     width: 510px;
  height: 52px;
  background-color: mediumpurple;
/*  padding-top: 10px;*/
  float:left;

}

.phone {
    font-size: 18px;
/*
    width: 298px;
    height 52px;
    background-color: bisque;
    padding-top: 19px;
    float: left;
*/
    width: 298px;
  height: 52px;
  background-color: red;
/*  padding-top: 19px;*/
  float:left;
}

.sob {
    display: block;
    max-width: 30px;
    float:left;
    margin-left: -5px;
}
.tire-wrapper {
    width: 909px;
    height: 237px;
    margin: 0 auto;
    display: block;
/*    position: relative;*/
}




.phone-icon {
    border-radius: 12px;
    height: 23px;
    width: 23px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;  
    clear: none
    background: rgba(12,51,87,1);
background: -moz-linear-gradient(top, rgba(12,51,87,1) 0%, rgba(240,47,23,1) 0%, rgba(46,122,196,1) 0%, rgba(31,103,134,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,51,87,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(46,122,196,1)), color-stop(100%, rgba(31,103,134,1)));
background: -webkit-linear-gradient(top, rgba(12,51,87,1) 0%, rgba(240,47,23,1) 0%, rgba(46,122,196,1) 0%, rgba(31,103,134,1) 100%);
background: -o-linear-gradient(top, rgba(12,51,87,1) 0%, rgba(240,47,23,1) 0%, rgba(46,122,196,1) 0%, rgba(31,103,134,1) 100%);
background: -ms-linear-gradient(top, rgba(12,51,87,1) 0%, rgba(240,47,23,1) 0%, rgba(46,122,196,1) 0%, rgba(31,103,134,1) 100%);
background: linear-gradient(to bottom, rgba(12,51,87,1) 0%, rgba(240,47,23,1) 0%, rgba(46,122,196,1) 0%, rgba(31,103,134,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3357', endColorstr='#1f6786', GradientType=0 );
    max-width: 30px;
    
}

.phone-icon>img { 
/*
    display: inline-block;
    vertical-align: middle;  
    content: ' ';
    display: inline-block;
    vertical-align: middle;   vertical alignment of the inline element 
    height: 100%;
*/
    display: block;
    margin:auto;
}










ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
/*    background-color: #333;*/
}

.phone>ul>li {
    display:inline-block;
    color: #5e696d;
    line-height: 27px;
    padding-left: 5px;
    font-size: 18px;
    padding-top: 20px;
}



.clearfix::after {
    
    display: block;
    clear: both;
    content: '';
}
    

.reg-box>img {
 margin: 0
}

.reg-box {
    
 padding-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center
}

.dude {
    position: relative;
    float: left;
}

form {
    display: inline;
}

fieldset {
    display: inline-block;
}

input {
    display: inline;
}
